@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <li class="dropdown dropdown-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" class="img-circle" src="" />
            <span class="username username-hide-on-mobile">

                


            </span>

        </a>

    </li>

    <li class="dropdown dropdown-extended quick-sidebar-toggler">
        <span class="sr-only">Toggle Quick Sidebar</span>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {@Html.AntiForgeryToken()

            <a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="icon-logout"></i>
            </a>

        }

    </li>

}